<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
<title>forgot password</title>
</head>

<body>
	<div>
		<h2> forgot password page</h2>
		<h3> <span th:text="'Message: ' + ${message}"></span></h3>
	</div>

<div class="post-email">
		
		<h3> <span th:text="'Message: ' + 'post email.'" ></span></h3>
		
		<form action="#" th:action="@{/forgot}" th:object="${email}" method="post">
		<p>user email: <input type="text" th:field="*{email}"/></p>
		<p><input type="submit" value="Send" />			
		 </p>
		
		</form>
		
		
	</div>
</body>

</html>